@font-face {
    font-family: RingBearer;
    src: url("fonts/ringbearer.medium.ttf");
}

#input-name {
    color: #fff;
    background-color: #333;
    border: 2px solid #666;
    font-size: 70px;
    
    position: absolute;
    left: 350px;
    top: 620px;
    width: 496px;
    height: 124px;
}

#hp-div {
    display: none;
}

#name-div {
    position: absolute;
    left: 750px;
    top: 10px;

    color: #fff;
    font-family: RingBearer, serif;
    font-size: 40px;
}

#stat-div {
    position: absolute;
    left: 750px;
    top: 100px;
    
    color: #fff;
    font-family: RingBearer, serif;
    font-size: 30px;
}

#hp-under {
    position: absolute;
    left: 10px;
    top: -20px;
    width: 500px;
    height: 100px;
    
    background-image: url("PicturesGeneral/hp-under.png");
}

#hp-bar {
    position: absolute;
    left: 10px;
    top: -20px;
    width: 500px;
    height: 100px;
    
    background-image: url("PicturesGeneral/hp-bar.png");
}

#hp-over {
    position: absolute;
    left: 10px;
    top: -20px;
    width: 500px;
    height: 100px;
    
    background-image: url("PicturesGeneral/hp-over.png");
}

#label-name {
    font-family: RingBearer, serif;
    color: #fff;
    background-color: transparent;
    font-size: 70px;
    
    position: absolute;
    left: 100px;
    top: 645px;
}

input {
    font-family: RingBearer, serif;
}

span {
    font-family: RingBearer, serif;
}

body {
    background-color: #000;
}
.outer {
    text-align: center;
}

.page {
    display: inline-block;
    position: relative;
    
    width: 1200px;
    height: 900px;
}

#start {
    background-color: transparent;
    border: none;

    position: absolute;
    left: 450px;
    top: 750px;
    width: 300px;
    height: 130px;

    cursor: pointer;

    background-image: url("PicturesGeneral/start-off.png");
}

#start:hover {
    background-image: url("PicturesGeneral/start-on.png");
}

#north {
    background-color: transparent;
    border: none;

    position: absolute;
    left: 525px;
    top: 0px;
    width: 150px;
    height: 75px;

    cursor: pointer;

    background-image: url("PicturesGeneral/arrow-off.png");
}

#north:hover {
    background-image: url("PicturesGeneral/arrow-on.png");
}

#south {
    background-color: transparent;
    border: none;

    position: absolute;
    left: 525px;
    top: 825px;
    width: 150px;
    height: 75px;

    cursor: pointer;

    transform: rotate(180deg);
    background-image: url("PicturesGeneral/arrow-off.png");
}

#south:hover {
    background-image: url("PicturesGeneral/arrow-on.png");
}

#east {
    background-color: transparent;
    border: none;

    position: absolute;
    left: 1087.5px;
    top: 412px;
    width: 150px;
    height: 75px;

    cursor: pointer;

    transform: rotate(90deg);
    background-image: url("PicturesGeneral/arrow-off.png");
}

#east:hover {
    background-image: url("PicturesGeneral/arrow-on.png");
}

#west {
    background-color: transparent;
    border: none;

    position: absolute;
    left: -37.5px;
    top: 412px;
    width: 150px;
    height: 75px;

    cursor: pointer;

    transform: rotate(270deg);
    background-image: url("PicturesGeneral/arrow-off.png");
}

#west:hover {
    background-image: url("PicturesGeneral/arrow-on.png");
}

.item {
    cursor: pointer;
}

.monster {
    cursor: pointer;
    width: 150px;
    height: 150px;
}
